<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Style/StyleSheet1.css">
    <link rel="stylesheet" href="~/Style/StyleSheet2.css">
    <link rel="stylesheet" href="~/Style/StyleSheet3.css">
    <link rel="stylesheet" href="~/Style/PostDetails.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Instagram", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Home", "Home")</li>
                    @if (Session["accountId"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "LoginAndSignup")</li>
                    }
                    @if (Session["accountId"] != null)
                    {
                        <li>@Html.ActionLink("Post", "Post", "Post")</li>
                        <li>@Html.ActionLink("Update My Profile", "UpdateProfile", "Update")</li>
                        <li>@Html.ActionLink("Profile", "Show", "Post")</li>
                        <li>@Html.ActionLink("My Friends", "ShowFriends", "Friend")</li>
                        <li>@Html.ActionLink("Friend Requests", "ShowRequests", "Friend")</li>
                        <li>@Html.ActionLink("LogOut", "Logout", "LoginAndSignup")</li>
                    }
                </ul>
                <div class="Search">
                    @using(@Html.BeginForm("Search", "UserSearch", FormMethod.Get))
                    {
                        @Html.TextBox("search") <input type="submit" value="Search" id="butt"/>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Instagram</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
